/******** common ********/
div{
    -webkit-tap-highlight-color : rgba(0, 0, 0, 0);
}

/* RADIO*/
/* 변경할것 : width, ::after(content)*/
.radio-default {
    margin: 0;
    position: relative;
    height: 40px;
    width: 100px;
    padding: 10px;
    border: solid 3px #8B97FF;
    border-radius: 30px;
    -webkit-appearance: none;
    cursor: pointer;
}
.radio-default::before{
    content: "";
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translate(0,-50%);
    height: 16px;
    width: 16px;
    background: url(../img/compare_radio1_1.svg?) no-repeat;
}
.radio-default::after{
    content: "";
    position: absolute;
    top: 50%;
    left: 50px;
    font-size: 20px;
    color: #8B97FF;
    transform: translate(0,-50%);
    
}
.radio-default:checked {
    background: #8B97FF;
}
.radio-default:checked::before {
    background: url(../img/compare_radio1_2.svg?) no-repeat;
}
.radio-default:checked::after {
    color: #fff;
}

.radio-default2{
    margin: 0;
    position: relative;
    height: 22px;
    width: 100px;
    background: url(../img/compare_radio2_1.svg?) no-repeat;
    background-position-y: 50%;
    background-size: 22px 22px;
    -webkit-appearance: none;
    cursor: pointer;
}
.radio-default2::after{
    content: "";
    position: absolute;
    top: 50%;
    left: 40px;
    transform: translate(0,-50%);
    color: #919191;
    font-size: 22px;
    cursor: pointer;
}
.radio-default2:checked{
    font-weight: bold;
    background: url(../img/compare_radio2_2.svg?) no-repeat;
    background-position-y: 50%;
}
.radio-default2:checked::after{
    color: #8B97FF;
}

/*INPUT*/
.input-default{
    height: 2em;
    border: none;
    border-bottom: solid 3px #8B97FF;
    width: 70%;
}
.input-default2{
    height: 1.4em;
    padding-left: 5px;
    border: none;
    border-bottom: 3px solid #8B97FF;
}
.input-default::-webkit-input-placeholder { color: #cccccc;}  /*크롬*/
.input-default::-ms-input-placeholder { color: #cccccc;}      /*엣지,익스플로러*/
.input-default::-moz-input-placeholder { color: #cccccc;}     /*파폭*/
.input-default:focus {outline: none;}

.input-default2::-webkit-input-placeholder {
    color: #cccccc;
    font-size: 0.9em;
    }  /*크롬*/
.input-default2::-ms-input-placeholder {
    color: #cccccc;
    font-size: 0.9em;
    }      /*엣지,익스플로러*/
.input-default2::-moz-input-placeholder {
    color: #cccccc;
    font-size: 0.9em;
    }     /*파폭*/
.input-default2:focus {outline: none;}

 
/*ERROR*/
.error-default{
    font-size: 15px;
    font-weight: bold;
    color: #E96A6A;
    position: absolute;
    bottom: 30px;
}
/******** common ********/


/******** header ********/
header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 130px;
    background: #8B97FF;
}
header .img-box:hover{
    cursor: pointer;
}
/******** header ********/


/******** section ********/
section{
    padding: 100px 0;
    background: #D7E9FD;
}
section .section-compare{
    margin: 0 auto 50px auto;
    max-width: 1120px;
    position: relative;
    background: #fff;
    border-radius: 10px;
    box-shadow: 3px 3px 6px rgb(196, 196, 196);
}
section .section-compare .inner-compare{
    padding: 30px 30px;
}
section h1{
    font-size: 30px;
    font-weight: bold;
    color: #8B97FF;
}
section .page{
    text-align: right;
    font-size: 15px;
    font-weight: bold;
    color: #8B97FF;
    padding-top: 60px;
}
/******** section ********/


/******** section-method ********/
.section-method{

}
.section-method h1{
}

.section-method .select-radio{
    margin-top: 30px;
}
.section-method .select-radio .radio-method{
    transform: scale(1);
    width: 115px;
    margin-right: 10px;
}
.section-method .select-radio .radio-method:nth-child(1)::after{
    content: "메일";
}
.section-method .select-radio .radio-method:nth-child(2):after{
    content: "카톡";
}
.section-method .select-radio .radio-method:nth-child(3)::after{
    content: "문자";
}
.section-method .input-contact{
    margin-top: 30px;
    font-size: 20px;
}

.section-method .error-method{

} 
/******** section-method ********/


/******** section-concern ********/
.section-concern{

}
.section-concern h1 {

}
.section-concern ul{
    margin-top: 30px;
}
.section-concern ul li{
    display: inline-block;
    margin-right: 15px;
    margin-bottom: 15px;
}
.section-concern ul li:nth-child(1) .radio-concern{
    width: 160px;
}
.section-concern ul li:nth-child(1) .radio-concern::after{
    content: "의료 실비";
}
.section-concern ul li:nth-child(2) .radio-concern{
    width: 180px;
}
.section-concern ul li:nth-child(2) .radio-concern::after{
    content: "운전자 보험";
}
.section-concern ul li:nth-child(3) .radio-concern{
    width: 160px;
}
.section-concern ul li:nth-child(3) .radio-concern::after{
    content: "치매 간병";
}
.section-concern ul li:nth-child(4) .radio-concern{
    width: 220px;
}
.section-concern ul li:nth-child(4) .radio-concern::after{
    content: "입원 수술병원비";
}
.section-concern ul li:nth-child(5) .radio-concern{
    width: 170px;
}
.section-concern ul li:nth-child(5) .radio-concern::after{
    content: "3대 진단비";
}
.section-concern ul li:nth-child(6) .radio-concern{
    width: 240px;
}
.section-concern ul li:nth-child(6) .radio-concern::after{
    content: "3대 질병 건강보험";
}
.section-concern ul li:nth-child(7) .radio-concern{
    width: 180px;
}
.section-concern ul li:nth-child(7) .radio-concern::after{
    content: "유병자 간편";
}
.section-concern ul li:nth-child(8) .radio-concern{
    width: 135px;
}
.section-concern ul li:nth-child(8) .radio-concern::after{
    content: "암보험";
}
.section-concern ul li:nth-child(9) .radio-concern{
    width: 200px;
}
.section-concern ul li:nth-child(9) .radio-concern::after{
    content: "질병 후유장해";
}
.section-concern ul li:nth-child(10) .radio-concern{
    width: 150px;
}
.section-concern ul li:nth-child(10) .radio-concern::after{
    content: "치아보험";
}
.section-concern ul li:nth-child(11) .radio-concern{
    width: 225px;
}
.section-concern ul li:nth-child(11) .radio-concern::after{
    content: "태아 어린이 보험";
}
.section-concern ul li:nth-child(12) .radio-concern{
    width: 360px;
}
.section-concern ul li:nth-child(12) .radio-concern::after{
    content: "일단 설계사의 추천을 받을래요";
}
.section-concern .error-concern{

}
/******** section-concern ********/


/******** section-price ********/
.section-price{

}
.section-price .inner-compare{

}
.section-price h1{

}
.section-price .input-price{
    width: 100%;
    margin-top: 100px;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    color: #3F3D56;
}
.section-price .text-price{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    width: 100%;
}
.section-price .text-price span{
    margin: 0 20px;
    font-size: 30px;
    font-weight: bold;
    color: #3F3D56;
}
.section-price .text-price-left{
    position: relative;
    height: 35px;
    width: 120px;
    font-size: 18px;
    font-weight: bold;
    color: #3F3D56;
    border: solid 2px #8B97FF;
    border-radius: 5px;
    z-index: 1;
}
.section-price .text-price-right{
    height: 35px;
    width: 120px;
    font-size: 18px;
    font-weight: bold;
    color: #3F3D56;
    border: solid 2px #8B97FF;
    border-radius: 5px;
    z-index: 1;
}
.section-price .text-price .input-price-text-left{
    text-align: right;
    height: 100%;
    width: 80%;
    font-size: 18px;
    font-weight: bold;
    color: #3F3D56;
    border: none;
    box-sizing: border-box;
    -webkit-appearance: none;

}
.section-price .text-price .input-price-text-right{
    text-align: right;
    height: 100%;
    width: 80%;
    font-size: 18px;
    font-weight: bold;
    color: #3F3D56;
    border: none;
    box-sizing: border-box;
    -webkit-appearance: none;

}
.section-price .text-price .text-price-left .content{
    position: absolute;
    top: -20px;
    left: 0;
    font-size: 12px;
    color: #3F3D56;
}
.section-price .text-price input:focus{ outline: none; }

.section-price .input-price:focus {outline: none;}
.section-price .multi-range-slider{
    margin-top: 35px;
    position: relative;
    width: 100%;
}    
.section-price .slider{
    position: relative;
    z-index: 1;
    height: 15px;
    margin: 0 15px;
}
.section-price .slider > .track{
    position: absolute;
    z-index: 1;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border: 1px solid #cccccc;
    border-radius: 7.5px;
    background: #fff;
    box-sizing: border-box;
}
.section-price .slider > .range{
    position: absolute;
    z-index: 2;
    top: 0;
    bottom: 0;
    border: 1px solid #cccccc;
    border-radius: 5px;
    background: #8B97FF;
    box-sizing: border-box;
}
.section-price .slider > .thumb{
    position: absolute;
    z-index: 3;
    width: 30px;
    height: 30px;
    background: #8B97FF;
    border: 1px solid #cccccc;
    border-radius: 50%;
    box-sizing: border-box;
}
.section-price .slider > .thumb-left{
    transform: translate(-50%, -7.5px);
}
.section-price .slider > .thumb-right{
    transform: translate(50%, -7.5px);
}
.section-price .slider-price{
    position: absolute;
    pointer-events: none;
    -webkit-appearance: none;
    z-index: 2;
    height: 10px;
    width: 100%;
    opacity: 0;
}
.section-price .slider-price::-webkit-slider-thumb{
    pointer-events: all;
    -webkit-appearance: none;
    height: 30px;
    width: 30px;
    border-radius: 0;
    border: 0 none;
    background: red;
    cursor: pointer;
}
/******** section-price ********/


/******** section-hospital ********/
.section-hospital{
        
}
.section-hospital .inner-compare{

}
.section-hospital .h1-hospital{

}
.section-hospital .radio-hospital{
    width: 130px;
    margin-top: 30px;
    margin-right: 10px;
}
.section-hospital .radio-hospital:nth-child(2)::after{
    content: "있어요";
}

.section-hospital .radio-hospital:nth-child(3)::after{
    content: "없어요";
}

.section-hospital .section-hospital-toggle .h2-hospital{
    margin-top: 80px;
}
.section-hospital .section-hospital-toggle .radio-hospitalTreatment {
    margin-top: 20px;
    margin-right: 10px;
}
.section-hospital .section-hospital-toggle .radio-hospitalTreatment:nth-child(2) {
    width: 110px;
}
.section-hospital .section-hospital-toggle .radio-hospitalTreatment:nth-child(2)::after {
    content: "치료";
}
.section-hospital .section-hospital-toggle .radio-hospitalTreatment:nth-child(3) {
    width: 110px;
}
.section-hospital .section-hospital-toggle .radio-hospitalTreatment:nth-child(3)::after {
    content: "입원";
}
.section-hospital .section-hospital-toggle .radio-hospitalTreatment:nth-child(4) {
    width: 110px;
}
.section-hospital .section-hospital-toggle .radio-hospitalTreatment:nth-child(4)::after {
    content: "수술";
}
.section-hospital .section-hospital-toggle .radio-hospitalTreatment:nth-child(5) {
    width: 110px;
}
.section-hospital .section-hospital-toggle .radio-hospitalTreatment:nth-child(5)::after {
    content: "진료";
}
.section-hospital .section-hospital-toggle .radio-hospitalTreatment:nth-child(6) {
    width: 130px;
}
.section-hospital .section-hospital-toggle .radio-hospitalTreatment:nth-child(6)::after {
    content: "약처방";
}
.section-hospital .section-hospital-toggle .radio-hospitalTreatment:nth-child(7) {
    width: 200px;
    margin-top: 10px;
}
.section-hospital .section-hospital-toggle .radio-hospitalTreatment:nth-child(7)::after {
    content: "잘 모르겠어요";
}
.section-hospital .section-hospital-toggle .h3-hospital{
    margin-top: 80px;
}
.section-hospital .section-hospital-toggle .input-hospitalDisease{
    margin-top: 30px;
    font-size: 20px;
    width: 80%;
}
.section-hospital .h4-hospital{
    margin-top: 80px;
}
.section-hospital .input-disease{
    margin-top: 30px;
    font-size: 20px;
    width: 80%;
}
/******** section-hospital ********/


/******** section-familyDisease ********/
.section-familyDisease{

}
.section-familyDisease .inner-compare{

}
.section-familyDisease h1{

}
.section-familyDisease .radio-familyDisease{
    display: block;
    height: 46px;
    padding: 10px 0;
}
.section-familyDisease .radio-familyDisease:nth-child(2){
    margin-top: 30px;
    width: 80px;
}
.section-familyDisease .radio-familyDisease:nth-child(2)::after{
    content: "암";
}
.section-familyDisease .radio-familyDisease:nth-child(3){
    width: 80px;
}
.section-familyDisease .radio-familyDisease:nth-child(3)::after{
    content: "뇌";
}
.section-familyDisease .radio-familyDisease:nth-child(4){
    width: 100px;
}
.section-familyDisease .radio-familyDisease:nth-child(4)::after{
    content: "심장";
}
.section-familyDisease .radio-familyDisease:nth-child(5){
    width: 120px;
}
.section-familyDisease .radio-familyDisease:nth-child(5)::after{
    content: "당뇨병";
}
.section-familyDisease .radio-familyDisease:nth-child(6){
    width: 120px;
}
.section-familyDisease .radio-familyDisease:nth-child(6)::after{
    content: "고혈압";
}
.section-familyDisease .radio-familyDisease:nth-child(7){
    width: 140px;
}
.section-familyDisease .radio-familyDisease:nth-child(7)::after{
    content: "고지혈증";
}
.section-familyDisease .section-etc {
    display: flex;
    align-items: center;
}
.section-familyDisease .section-etc .radio-familyDisease{
    width: 90px;
}
.section-familyDisease .section-etc .radio-familyDisease::after{
    content: "기타";
}
.section-familyDisease .radio-familyDisease:nth-child(9){
    width: 190px;
}
.section-familyDisease .radio-familyDisease:nth-child(9)::after{
    content: "잘 모르겠어요";
}
.section-familyDisease .section-familyDisease-toggle{
    width: 600px;
}
.section-familyDisease .section-familyDisease-toggle span{
    font-size: 22px;
    font-weight: bold;
    color: #8B97FF;
    margin-right: 5px;
}
.section-familyDisease .section-familyDisease-toggle .input-familyDiseaseEtc{
    font-size: 20px;
    color: #8B97FF;
    margin-right: 5px;
    width: 90%
}
/******** section-familyDisease ********/


/******** section-birth ********/
.section-birth{

}
.section-birth .inner-compare{

}
.section-birth .h1-birth{

}
.section-birth .input-birth{
    margin-top: 30px;
    font-size: 20px;
    width: 80%;
}
.section-birth .h2-birth{
    margin-top: 80px;
}
.section-birth .radio-gender{
    margin-top: 30px;
    margin-right: 20px;
    width: 110px;
}
.section-birth .radio-gender:nth-child(4)::after{
    content: "남자";
}
.section-birth .radio-gender:nth-child(5)::after{
    content: "여자";
}
.section-birth .h3-birth{
    margin-top: 80px;
}
.section-birth .input-job{
    margin-top: 30px;
    font-size: 20px;
    width: 80%;
}

.section-birth .h4-birth{
    margin-top: 80px;
}
.selectBoxPosition{
    position: relative;
    margin-top: 50px;
}
.selectBox {
    position: absolute;
    top: 0;
    margin: auto;
    height: 40px;
    width: 300px;
    border: 2px solid #8B97FF;
    border-radius: 20px;
    overflow: hidden;
    transition: 0.3s;
    background: #fff;
    z-index: 2;
}
.on {
    height: 300px;
    overflow: scroll;
    
}
.area1{
    position: sticky;
    top: 0;
    width: 100%;
    height: 40px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: #8B97FF;
    line-height: 40px;
    background: #fff;
    border-bottom: 2px solid #8B97FF;
    cursor: pointer;
}
.area2{
    overflow-y: scroll;
}
.area2-selectList {
    margin-left: 5%;
    font-size: 20px;
    line-height: 35px;
    color: #34464B;
    height: 35px;
    border-bottom: 1px solid #34464B;
    width: 90%;
    text-align: center;
    cursor: pointer;
}
.selectBox::-webkit-scrollbar {display: none;}
.area2::-webkit-scrollbar {display: none;}
.area1,
.area2{
    -ms-user-select: none; 
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}
.section-birth .agreement{
    margin-top: 150px;
    display: flex;
    align-items: center;
}


.section-birth .agreement .input-agreement{
    height: 22px;
    width: 22px;
    -webkit-appearance: none;
    background: url(../img/compare_agreeCheck_1.svg?)  no-repeat;
    background-size: contain;
    cursor: pointer;
}
.section-birth .agreement .input-agreement:checked{
    height: 22px;
    width: 22px;
    background: url(../img/compare_agreeCheck_2.svg?)  no-repeat;
    background-size: contain;
}

.section-birth .agreement label{
    margin-left: 8px;
    font-size: 17px;
    margin-bottom: 3px;
    cursor: pointer;
}
.section-birth .agreement .a-agreement {
    margin-left: 8px;
    font-size: 15px;
    color: #cccccc;
}
.section-birth .agreement .a-agreement:hover{
    color: #8B97FF;
}
/******** section-birth ********/


/******** button ********/
.section-button{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section-button .box{
    background: #fff;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 120px;
    border: 1px solid #C9C9C9;
    border-radius: 43px;
    box-shadow: 0 7px 10px #A4A4A4;
}
.section-button .box:hover{
    cursor: pointer;
}
.section-button .box .title{
    font-size: 47px;
    font-weight: bold;
    color: #7B7B7B;
}
.section-button .box .img-box{
    position: absolute;
    right: 40px;
}
.section-button .content{
    color: #B1B1B1;
    text-align: center;
    margin-top: 15px;
    font-size: 25px;
    font-weight: bold;
}
/******** button ********/


















@media (max-width: 1160px) {
    /******** common ********/

    /* RADIO*/
    .radio-default2{
        transform: scale(0.9) translate(-5%, 0);
        height: 20px;
    }
    .radio-default2::after{
        font-size: 20px;
    }
    .radio-default2:checked{
        transform: scale(0.9) translate(-5%, 0);
    }
    /*INPUT*/
    
    /*ERROR*/
    .error-default{
        font-size: 13px;
    }
    /******** common ********/


    /******** header ********/
    header{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 130px;
        background: #8B97FF;
    }
    /******** header ********/


    /******** section ********/
    section{
        padding: 70px 0;
    }
    section .section-compare{
        margin: 0 20px 50px 20px;
        border-radius: 8px;
    }
    section h1{
        font-size: 24px;
    }
    section .page{
        padding-top: 40px;
    }
    /******** section ********/


    /******** section-method ********/
    .section-method .select-radio{
        margin-top: 20px;
    }
    .section-method .select-radio .radio-method{
        transform: scale(0.9) translate(-5%, 0);
    }
    .section-method .input-contact{
        margin-top: 20px;
        font-size: 16px;
    }
    /******** section-method ********/


    /******** section-concern ********/
    .section-concern ul{
        margin-top: 20px;
    }
    .section-concern ul li{
        margin-right: 10px;
        margin-bottom: 10px;
    }
    .section-concern ul li .radio-concern{
        transform: scale(0.9) translate(-5%, 0);
    }    
    /******** section-concern ********/


    /******** section-price ********/
    .section-price .text-price span{
        font-size: 25px;
    }
    .section-price .text-price-left{
        height: 30px;
        width: 110px;
        font-size: 15px;
    }
    .section-price .text-price-right{
        height: 30px;
        width: 110px;
        font-size: 15px;
    }
    .section-price .text-price .input-price-text-left{
        font-size: 15px;
    }
    .section-price .text-price .input-price-text-right{
        font-size: 15px;
    }
    .section-price .text-price .text-price-left .content{
        font-size: 11px;
    }
    /******** section-price ********/


    /******** section-hospital ********/
    .section-hospital .radio-hospital{
        transform: scale(0.9) translate(-5%, 0);
        margin-top: 20px;
    }
    .section-hospital .section-hospital-toggle .radio-hospitalTreatment {
        transform: scale(0.9) translate(-5%, 0);
        margin-right: 5px;
    }
    .section-hospital .section-hospital-toggle .input-hospitalDisease{
        font-size: 16px;
    }
    .section-hospital .input-disease{
        margin-top: 20px;
        font-size: 16px;
    }
    /******** section-hospital ********/


    /******** section-familyDisease ********/
    .section-familyDisease .radio-familyDisease:nth-child(2){
        margin-top: 20px;
    }
    /******** section-familyDisease ********/


    /******** section-birth ********/
    .section-birth .input-birth{
        margin-top: 20px;
        font-size: 16px;
    }
    .section-birth .radio-gender{
        transform: scale(0.9) translate(-5%, 0);
        margin-top: 20px;
        margin-right: 15px;
    }
    .section-birth .h3-birth{
        margin-top: 80px;
    }
    .section-birth .input-job{
        margin-top: 20px;
        font-size: 16px;
    }
    /******** section-birth ********/


    /******** button ********/
    .section-button .box{
        width: 400px;
        height: 100px;
        border-radius: 40px;
        box-shadow: 0 5px 8px #A4A4A4;
    }

    .section-button .box .title{
        font-size: 35px;
    }
    .section-button .box .img-box{
        right: 30px;
    }
    .section-button .box .img-box img{
        height: 35px;
    }
    .section-button .content{
        font-size: 20px;
    }
    /******** button ********/
}














@media (max-width: 600px) {
    /******** common ********/

    /* RADIO*/
    /* 변경할것 : width, ::after(content)*/
    .radio-default {
        height: 30px;
    }
    .radio-default::before{
        left: 10px;
        height: 12px;
        width: 12px;
        background-size: contain;
    }
    .radio-default::after{
        left: 30px;
        font-size: 14px;
        color: #8B97FF;
    }

    .radio-default:checked::before {
        background-size: contain;
        height: 12px;
        width: 12px;
    }
    .radio-default2{
        height: 15px;
        background-size: 15px 15px;
    }
    .radio-default2::after{
        left: 25px;
        font-size: 13px;
    }
    .radio-default2:checked{
        background-size: 15px 15px;
    }

    /*INPUT*/
    .input-default{
        border-bottom: solid 2px #8B97FF;
    }
    .input-default2{
        border-bottom: 2px solid #8B97FF;
    }
    
    /*ERROR*/
    .error-default{
        font-size: 12px;
        bottom: 20px;
    }
    /******** common ********/


    /******** header ********/
    header{
        height: 60px;
    }
    header .img-box img{
        height: 35px;
    }
    /******** header ********/


    /******** section ********/
    section{
        padding: 30px 0;
    }
    section .section-compare{
        margin: 0 12px 20px 12px;
        border-radius: 10px;
    }
    section .section-compare .inner-compare{
        padding: 20px 15px;
    }
    section h1{
        font-size: 15px;
    }
    section .page{
        font-size: 11px;
        padding-top: 40px;
    }
    /******** section ********/


    /******** section-method ********/
    .section-method .select-radio{
        margin-top: 15px;
    }
    .section-method .select-radio .radio-method{
        width: 80px;
    }
    .section-method .input-contact{
        width: 100%;
        margin-top: 20px;
        font-size: 12px;
    }
    /******** section-method ********/


    /******** section-concern ********/

    .section-concern ul{
        margin-top: 15px;
    }
    .section-concern ul li{
        margin-top: 5px;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .section-concern ul li:nth-child(1) .radio-concern{
        width: 110px;
    }
    .section-concern ul li:nth-child(2) .radio-concern{
        width: 125px;
    }
    .section-concern ul li:nth-child(3) .radio-concern{
        width: 110px;
    }
    .section-concern ul li:nth-child(4) .radio-concern{
        width: 155px;
    }
    .section-concern ul li:nth-child(5) .radio-concern{
        width: 120px;
    }
    .section-concern ul li:nth-child(6) .radio-concern{
        width: 165px;
    }
    .section-concern ul li:nth-child(7) .radio-concern{
        width: 125px;
    }
    .section-concern ul li:nth-child(8) .radio-concern{
        width: 90px;
    }
    .section-concern ul li:nth-child(9) .radio-concern{
        width: 140px;
    }
    .section-concern ul li:nth-child(10) .radio-concern{
        width: 110px;
    }
    .section-concern ul li:nth-child(11) .radio-concern{
        width: 160px;
    }
    .section-concern ul li:nth-child(12) .radio-concern{
        width: 245px;
    }
    /******** section-concern ********/


    /******** section-price ********/
    .section-price .input-price{
    }
    .section-price .text-price{
        margin-top: 50px;
    }
    .section-price .text-price span{
        margin: 0 20px;
        font-size: 20px;
    }
    .section-price .text-price-left{
        height: 30px;
        width: 100px;
        font-size: 14px;
    }
    .section-price .text-price-right{
        height: 30px;
        width: 100px;
        font-size: 14px;
    }
    .section-price .text-price .input-price-text-left{
        font-size: 15px;
    }
    .section-price .text-price .input-price-text-right{
        font-size: 15px;
    }
    .section-price .text-price .text-price-left .content{
        font-size: 11px;
    }
    /******** section-price ********/


    /******** section-hospital ********/
    .section-hospital .radio-hospital{
        width: 90px;
        margin-top: 20px;
        margin-right: 10px;
    }
    .section-hospital .section-hospital-toggle .h2-hospital{
        margin-top: 50px;
    }
    .section-hospital .section-hospital-toggle .radio-hospitalTreatment {
        margin-top: 10px;
        margin-right: 5px;
    }
    .section-hospital .section-hospital-toggle .radio-hospitalTreatment:nth-child(2) {
        width: 75px;
    }
    .section-hospital .section-hospital-toggle .radio-hospitalTreatment:nth-child(3) {
        width: 75px;
    }
    .section-hospital .section-hospital-toggle .radio-hospitalTreatment:nth-child(4) {
        width: 75px;
    }
    .section-hospital .section-hospital-toggle .radio-hospitalTreatment:nth-child(5) {
        width: 75px;
    }
    .section-hospital .section-hospital-toggle .radio-hospitalTreatment:nth-child(6) {
        width: 90px;
    }
    .section-hospital .section-hospital-toggle .radio-hospitalTreatment:nth-child(7) {
        width: 140px;
    }
    .section-hospital .section-hospital-toggle .h3-hospital{
        margin-top: 50px;
    }
    .section-hospital .section-hospital-toggle .input-hospitalDisease{
        margin-top: 20px;
        font-size: 12px;
        width: 100%;
    }
    .section-hospital .h4-hospital{
        margin-top: 50px;
    }
    .section-hospital .input-disease{
        margin-top: 20px;
        font-size: 12px;
        width: 100%;
    }
    /******** section-hospital ********/


    /******** section-familyDisease ********/
    .section-familyDisease .radio-familyDisease{
        height: 35px;
    }
    .section-familyDisease .radio-familyDisease:nth-child(2){
        margin-top: 10px;
        width: 80px;
    }
    .section-familyDisease .radio-familyDisease:nth-child(3){
        width: 80px;
    }
    .section-familyDisease .radio-familyDisease:nth-child(4){
        width: 100px;
    }
    .section-familyDisease .radio-familyDisease:nth-child(5){
        width: 120px;
    }
    .section-familyDisease .radio-familyDisease:nth-child(6){
        width: 120px;
    }
    .section-familyDisease .radio-familyDisease:nth-child(7){
        width: 140px;
    }
    .section-familyDisease .section-etc .radio-familyDisease{
        width: 55px;
    }
    .section-familyDisease .radio-familyDisease:nth-child(9){
        width: 190px;
    }
    .section-familyDisease .section-familyDisease-toggle{
        width: calc(100% - 55px);
    }
    .section-familyDisease .section-familyDisease-toggle span{
        font-size: 14px;
        margin-right: 5px;
    }
    .section-familyDisease .section-familyDisease-toggle .input-familyDiseaseEtc{
        font-size: 14px;
        margin-right: 5px;
        width: calc(100% - 25px);
    }
    /******** section-familyDisease ********/


    /******** section-birth ********/
    .section-birth .input-birth{
        margin-top: 20px;
        font-size: 14px;
        width: 100%;
    }
    .section-birth .h2-birth{
        margin-top: 50px;
    }
    .section-birth .radio-gender{
        margin-top: 20px;
        margin-right: 10px;
        width: 80px;
    }
    .section-birth .h3-birth{
        margin-top: 50px;
    }
    .section-birth .input-job{
        margin-top: 20px;
        font-size: 14px;
        width: 100%;
    }
    .section-birth .h4-birth{
        margin-top: 50px;
    }
    .selectBoxPosition{
        margin-top: 20px;
    }
    .selectBox {
        height: 30px;
        width: 200px;
        border: 2px solid #8B97FF;
        border-radius: 20px;
        overflow: hidden;
        transition: 0.3s;
        background: #fff;
        z-index: 2;
    }
    .on {
        height: 250px;
        overflow: scroll;
    }
    .area1{
        position: sticky;
        top: 0;
        width: 100%;
        height: 30px;
        font-size: 15px;
        text-align: center;
        color: #8B97FF;
        line-height: 30px;
        background: #fff;
        border-bottom: 2px solid #8B97FF;
        cursor: pointer;
    }
    .area2{
        overflow-y: scroll;
    }
    .area2-selectList {
        margin-left: 5%;
        font-size: 13px;
        line-height: 30px;
        color: #3F3D56;
        height: 30px;
        border-bottom: 1px solid #3F3D56;
        width: 90%;
        text-align: center;
        cursor: pointer;
    }

    .section-birth .agreement{
        margin-top: 100px;
    }
    .section-birth .agreement .input-agreement{
        height: 15px;
        width: 15px;
    }
    .section-birth .agreement .input-agreement:checked{
        height: 15px;
        width: 15px;
    }
    .section-birth .agreement label{
        margin-left: 6px;
        font-size: 13px;
        margin-bottom: 2px;
    }
    .section-birth .agreement .a-agreement {
        margin-left: 6px;
        font-size: 12px;
        color: #cccccc;
    }
    /******** section-birth ********/


    /******** button ********/
    .section-button .box{
        width: 250px;
        height: 60px;
        border-radius: 20px;
        box-shadow: 0 7px 7px #A4A4A4;
    }
    .section-button .box .title{
        font-size: 25px;
    }
    .section-button .box .img-box{
        right: 25px;
    }
    .section-button .box .img-box img{
        height: 25px;
    }
    .section-button .content{
        font-size: 15px;
    }
    /******** button ********/
}