/******** header ********/
header{
    background: #fff;
    position: fixed;    
    top: 0;
    left: 0;
    right: 0;
    left: 0;
    z-index: 1;
    box-shadow: 0 1px 6px #e1e1e1;
}
header .inner{
    height: 100px;
}
header .logo{
    display: flex;
    height: 100%;
    align-items: center;

}
header .logo .logo-name{
    color: #5B8DEF;
    font-weight: bold;
    font-size: 35px;
    margin-right: 10px;
}
header .logo img{

}
header .menu{
    display: flex;
    height: 100%;
    align-items: center;
}
header .menu li:hover{
    cursor: pointer;
}
header .menu li:first-child{
    display: flex;
    margin-right: 20px;
    border: 2px solid #000;
    border-radius: 10px;
    height: 45px;
    width: 200px;
    font-size: 18px;
    font-weight: bold;
    color: #000;
    align-items: center;
    justify-content: center;
}
header .menu li img{
    height: 49px;
}
/******** header ********/

/******** section1 ********/
.section1{

}
.section1 img{
    position: absolute;
    height: 500px;
    width: 100%;
}
.section1 .inner{
    height: 500px;
}
.section1 .box{
    margin-top: 100px;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.section1 .box .content-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.section1 .box .content-left .img-box{
    height: 140px;
    width: 130px;
}
.section1 .box .content-left .img-box img{
    height: 140px;
    width: 130px;
}
.section1 .box .content-left .title{
    margin-top: 30px;
    font-size: 40px;
    font-weight: bold;
    color: #000;
}
.section1 .box .content-left .sub-title{
    margin-top: 20px;
    font-size: 40px;
    font-weight: bold;
    color: #5B8DEF;
}
.section1 .box .content-right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.section1 .box .content-right img{
    margin-left: 120px;
    height: 400px;

}
/******** section1 ********/

/******** section2 ********/
.section2{

}
.section2 .inner{
    height: 600px;
}
.section2 .title{
    text-align: center;
    padding-top: 40px;
    font-size: 30px;
    font-weight: bold;
    color: #B1B1B1;
}
.section2 ul{
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    -ms-user-select: none; 
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;

}
.section2 li{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section2 li .number{
    font-size: 30px;
    font-weight: bold;
    color: #8B97FF;
}
.section2 li .img-box{
    margin-top: 30px;
}
.section2 li .img-box img{
    -webkit-user-drag: none;
}
.section2 li .sub-title{
    margin-top: 24px;
    font-size: 25px;
    font-weight: bold;
    color: #000;    
}
.section2 li .content{
    margin-top: 20px;
    font-size: 17px;
    color: #7B7B7B;
    line-height: 30px;
    text-align: center;
    max-width: 270px;
    word-break: keep-all;
}
.section2 li .memo{
    margin-top: 10px;
    font-size: 15px;
    color: #9D9D9D;
}
/******** section2 ********/

/******** section3 ********/
.section3{

}
.section3 .inner{
    height: 400px;
}
.section3 .title{
    padding-top: 70px;
    font-size: 26px;
    font-weight: bold;
    color: #7B7B7B;
    text-align: center;
}
.section3 .content{
    margin-top: 30px;
    font-size: 30px;
    font-weight: bold;
    color: #5B8DEF;
    text-align: center;
    margin-bottom: 50px;
}
.section3 .section3-1{
    background-color: #EAF4FF;
}
.section3 .section3-2{
    background-color: #D7E9FD;
}
.section3 .section3-3{
    background-color: #EEEAFC;
}
.section3 ul{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.section3 ul li{
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.section3 ul li .img-box{
    height: 300px;
    width: 350px;
    margin: auto;
}
.section3 ul li .img-box img {
    width: 100%;
    height: 100%;
}
.section3 ul li .subject{
    font-size: 35px;
    font-weight: bold;
    color: #000;
}
.section3 ul li .text{
    margin-top: 30px;
    font-size: 20px;
    color: #7B7B7B;
    line-height: 28px;
    word-break: keep-all;
    width: 80%;
}

/******** section3 ********/

/******** section4 ********/
.section4{
    height: 280px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section4 .box{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 566px;
    height: 141px;
    border: 1px solid #C9C9C9;
    border-radius: 43px;
    box-shadow: 0 7px 10px #A4A4A4;
}
.section4 .box:hover{
    cursor: pointer;
}
.section4 .box .title{
    font-size: 47px;
    font-weight: bold;
    color: #5B8DEF;
}
.section4 .box .content{
    margin-top: 10px;
    font-size: 12px;
    color: #9D9D9D;
}
.section4 .box .img-box{
    position: absolute;
    right: 40px;
}
/******** section4 ********/

/******** footer ********/
footer{
    background: #34464B;
    height: 150px;
}
footer .inner{
    padding-top: 20px;
}
footer .left-side{

}
footer .left-side p{
    margin-top: 8px;
    color: #ccc;
    font-size: 12px;
}

footer .right-side{
    text-align: right;
}
footer .right-side p{
    margin-top: 8px;
    color: #ccc;
    font-size: 12px;
}
footer .right-side a{
    display: inline-block;
    margin-top: 8px;
    margin-left: 5px;
    color: #ccc;
    font-size: 12px;
}
/******** footer ********/










@media (max-width: 1000px) {
    .inner{
        padding: 0 20px;
    }
    /******** header ********/
    header{ 
    }
    header .inner{
    }
    header .logo{
    }
    header .logo .logo-name{
        font-size: 30px;
    }
    header .logo img{
        height: 30px;
    }
    header .menu{
    }
    header .menu li:first-child{
        margin-right: 16px;
        height: 40px;
        width: 160px;
        font-size: 15px;
    }
    header .menu li img{
        height: 44px;
    }
    /******** header ********/

    /******** section1 ********/
    .section1{
    }
    .section1 img{
    }
    .section1 .inner{
    }
    .section1 .box{
    }
    .section1 .box .content-left{
    }
    .section1 .box .content-left .img-box{
        height: 80px;
        width: 90px;
    }
    .section1 .box .content-left .img-box img{
        height: 80px;
        width: 90px;
    }
    .section1 .box .content-left .title{
        font-size: 30px;
    }
    .section1 .box .content-left .sub-title{
        font-size: 30px;
    }
    .section1 .box .content-right{
    }
    .section1 .box .content-right img{
        height: 300px;
    }
    /******** section1 ********/

    /******** section2 ********/
    .section2{
    }
    .section2 .inner{
        height: 520px;
    }
    .section2 .title{
        font-size: 25px;
    }
    .section2 ul{
        margin-top: 45px;
    }
    .section2 li{
    }
    .section2 li .number{
        font-size: 25px;
    }
    .section2 li .img-box{
    }
    .section2 li .sub-title{
        font-size: 20px;
    }
    .section2 li .content{
        margin-top: 17px;
        font-size: 14px;
        line-height: 24px;
        max-width: 200px;
    }
    .section2 li .memo{
        margin-top: 8px;
        font-size: 12px;
    }
    /******** section2 ********/

    /******** section3 ********/
    .section3{
    }
    .section3 .inner{
        height: 320px;
    }
    .section3 .title{
        padding-top: 50px;
        font-size: 16px;
    }
    .section3 .content{
        margin-top: 20px;
        font-size: 19px;
        margin-bottom: 40px;
    }
    .section3 .section3-1{
    }
    .section3 .section3-2{
    }
    .section3 .section3-3{
    }
    .section3 ul{
    }
    .section3 ul li{
        height: 320px;
    }
    .section3 ul li .img-box{
        height: 260px;
        width: 300px;
    }
    .section3 ul li .img-box img {
    }
    .section3 ul li .subject{
        font-size: 22px;
    }
    .section3 ul li .text{
        margin-top: 20px;
        font-size: 15px;
        line-height: 23px;

    }

    /******** section3 ********/

    /******** section4 ********/
    .section4{
        height: 200px;
    }
    .section4 .box{
        width: 400px;
        height: 100px;
    }
    .section4 .box .title{
        font-size: 30px;
    }
    .section4 .box .content{
        margin-top: 5px;
        font-size: 11px;
    }
    .section4 .box .img-box{
        height: 40px;
        right: 20px;
    }
    .section4 .box .img-box img{
        height: 100%;
    }
    /******** section4 ********/

    /******** footer ********/
    footer{
        background: #34464B;
        height: 150px;
    }
    footer .inner{
        padding-top: 20px;
    }
    footer .left-side{

    }
    footer .left-side p{
        margin-top: 8px;
        color: #ccc;
        font-size: 12px;
    }

    footer .right-side{
        text-align: right;
    }
    footer .right-side p{
        margin-top: 8px;
        color: #ccc;
        font-size: 12px;
    }
    footer .right-side a{
        display: inline-block;
        margin-top: 8px;
        margin-left: 5px;
        color: #ccc;
        font-size: 12px;
    }
    /******** footer ********/
}













@media (max-width: 600px){
    /******** header ********/
    header{
        position: fixed;    
        top: 0;
        left: 0;
        right: 0;
        left: 0;
        z-index: 1;
    }
    header .inner{
        height: 60px;
    }
    header .logo{
    }
    header .logo .logo-name{
        display: none;
    }
    header .logo img{
    }
    header .menu{
    }
    header .menu li:first-child{
        margin-right: 10px;
        height: 30px;
        width: 150px;
        font-size: 15px;
        border: 1px solid #000;
        border-radius: 5px;
    }
    header .menu li img{
        height: 32px;
    }
    /******** header ********/

    /******** section1 ********/
    .section1{
    }
    .section1 img{
        height: 700px;
    }
    .section1 .inner{
        height: 700px;
    }
    .section1 .box{
        margin-top: 60px;
        display: flex;
        flex-direction: column;
    }
    .section1 .box .content-left{
    }
    .section1 .box .content-left .img-box{
        margin-top: 100px;
        height: 65px;
        width: 65px;
    }
    .section1 .box .content-left .img-box img{
        height: 65px;
        width: 65px;
    }
    .section1 .box .content-left .title{
        margin-top: 20px;
        font-size: 22px;
    }
    .section1 .box .content-left .sub-title{
        margin-top: 10px;
        font-size: 22px;
    }
    .section1 .box .content-right{
    }
    .section1 .box .content-right img{
        position: relative;
        margin-left: 0;
        margin-top: 50px;
        height: 330px;

    }
    /******** section1 ********/

    /******** section2 ********/

    .section2{
        height: 1600px;
    }
    .section2 .inner{
        position: sticky;
        top: 60px;
        height: 100vh;
        padding: 0;
        overflow: hidden;
    }
    .section2 .title{
        position: absolute;
        top: 0px;
        left: 50%;
        width: 100vw;
        transform: translate(-50%, 0);
        padding-top: 30px;
        font-size: 18px;
    }
    .section2 ul{
        position: absolute;
        top: 40px;
        margin-left: 0;
        padding-left: calc(50vw - 125px);
        margin-top: 50px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    .section2 li{
        justify-content: center;
        margin-right: 70PX;
        padding: 0 20px;
        width: 210px;
        height: 70vh;
        border-radius: 30px;
        box-shadow: 1px 2px 15px #dedede;
    }
    .section2 li .number{
        margin-top: 0px;
        font-size: 30px;
    }
    .section2 li .img-box{
        margin-top: 5vh;
    }
    .section2 li .img-box img{
        height: 15vh;
    }
    .section2 li .sub-title{
        margin-top: 24px;
        font-size: 22px;  
    }
    .section2 li .content{
        margin-top: 16px;
        font-size: 14px;
        line-height: 22px;
        max-width: 90%;
    }
    .section2 li .memo{
        margin-top: 10px;
        font-size: 11px;
    }
    /******** section2 ********/

    /******** section3 ********/
    .section3{

    }
    .section3 .inner{
        height: 500px;
    }
    .section3 .title{
        padding-top: 0;
        font-size: 14px;
    }
    .section3 .content{
        margin-top: 20px;
        font-size: 18px;
        margin-bottom: 30px;
        line-height: 21px;
    }
    .section3 .content span::after{
        content: "\A";
        white-space:pre;
    }
    .section3 .section3-1{
    }
    .section3 .section3-2{
    }
    .section3 .section3-2 .list1{
        order: 2;
    }
    .section3 .section3-2 .list2{
        order: 1;
    }
    .section3 .section3-3{
    }
    .section3 ul{
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .section3 ul li{
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .section3 ul li .img-box{
        padding-top: 40px;
        height: 150px;
        width: 200px;
        margin: auto;
    }
    .section3 ul li .img-box img {
        width: 100%;
        height: 100%;
    }
    .section3 ul li .subject{
        margin-top: 50px;
        font-size: 20px;
        text-align: center;
    }
    .section3 ul li .text{
        margin-top: 30px;
        font-size: 14px;
        line-height: 20px;
        width: 80%;
        text-align: center;
        padding-bottom: 100px;
    }

    /******** section3 ********/

    /******** section4 ********/
    .section4{
        height: 170px;
    }
    .section4 .box{
        width: 300px;
        height: 70px;
        border-radius: 30px;
        box-shadow: 0 3px 10px #A4A4A4;
    }
    .section4 .box .title{
        font-size: 23px;
    }
    .section4 .box .content{
        position: absolute;
        top: 80px;
        font-size: 10px;
    }
    .section4 .box .img-box{
        position: absolute;
        right: 20px;
        height: 30px;
    }
    /******** section4 ********/

    /******** footer ********/
    footer{
        height: 320px;
    }
    footer .inner{
        padding-top: 20px 20px 0 20px;
        text-align: center;
    }
    footer .left-side{
        float: none;
    }
    footer .left-side p{
        margin-top: 8px;
        color: #ccc;
        font-size: 12px;
        line-height: 18px;
    }

    footer .right-side{
        float: none;
        text-align: center;
    }
    footer .right-side p{
        margin-top: 8px;
        font-size: 12px;
        line-height: 18px;
    }
    footer .right-side a{
    }
    /******** footer ********/
}