/* VARIABLE */
:root {
    /*1: 배경색  2:중간글자색  3:검은색글자 4:노란색  5:회색글자 6:버튼색깔*/
    --color1: #5B8DEF;
    --color2: #16B95D;
    --color3: #000;
    --color4: #F1D000;
    --color5: rgba(0, 0, 0, 0.5);
    --color6: #EBBC03;
}
/* COMMON */
.container {
    position: relative;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #333;
}
a {
    text-decoration: none;
}
.align-item{
    display: flex;
    height: 100%;
    align-items: center;
}
/* FLOAT CLEARFIX */
.clearfix::after {
    content: "";
    clear: both;
    display: block;
}
.float-left {
    float: left;
}
.float-right {
    float: right;
}

/* SECTION INNER */
.section {
    position: relative;
}
.inner{
    max-width: 1100px;
    margin: 0 auto;
    box-sizing: border-box;
    position:  relative;
}
.inner-center{
    text-align: center;
}
/* BUTTON */
.hover-button{
    -webkit-tap-highlight-color : rgba(0, 0, 0, 0);
}
/*TOGGLE*/
@media (max-width: 820px) {
    .toggle {
        display: none;
    }
    .toggle.on {
        display: block;
    }
}
