{% extends "base.html" %}

{% block header %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/compare.css' %}">
{% endblock %}

{% block contents %}
<section class="section">
    <div class="box">
        <div class="section-start">
            <div class="inner-start">
                <div class="logo"></div>
                <h1>비교견적 신청이 완료되었습니다</h1>
                <p>영업일 1일 이내로 5개 정도의 비교설계서가 고객님에게 갑니다</p>
                <p>영업일은 주말, 공휴일을 제외한 평일입니다</p>
                <p>각 견적서마다 설계한 설계사의 전화번호가 표시되어있습니다<br>원하시는 설계사를 선택해 연락해보세요</p> 
                <button class="compare-button button-start" onclick="location.href='/'">홈으로 돌아가기</button>    
            </div>          
        </div>        
    </div>
</section>
<script type="text/javascript" src="//wcs.naver.net/wcslog.js"></script> 
<script type="text/javascript"> 
    var _nasa={};
    if(window.wcs) _nasa["cnv"] = wcs.cnv("4","10"); 
</script> 
<script type="text/javascript"> 
    if (!wcs_add) var wcs_add={};
    wcs_add["wa"] = "s_31434e58cf28";
    if (!_nasa) var _nasa={};
    if(window.wcs){
        wcs.inflow("gabot.co.kr");
        wcs_do(_nasa);
    }
</script>
{% endblock %}