{% extends "base.html" %}

{% block header %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/comparesubmit.css' %}?ver1">
{% endblock %}

{% block contents %}
<header>
    <div class="img-box" onclick="location.href='/'"><img src="../../static/img/compare_logo.svg" alt="로고"></div>
</header>
<section class="section">
    <div class="box1">
        <div class="inner-comparesubmit">
            <h1>비교견적 신청이 완료되었습니다</h1>
            <p>영업일 1일 이내로 5개 정도의 비교설계서가 고객님에게 갑니다</p>
            <p>영업일은 주말, 공휴일을 제외한 평일입니다</p>
            <p>각 견적서마다 설계한 설계사의 전화번호가 표시되어있습니다<br>원하시는 설계사를 선택해 연락해보세요</p>  
        </div>                 
    </div>
    <div class="section-button">
        <div class="box2" onclick="location.href='/'">
            <div class="title">홈으로 돌아가기</div>
            <div class="img-box"><img src="../../static/img/home_section4_arrow.svg" alt="화살표"></div>
        </div>
    </div>
</section>


<script type="text/javascript" src="//wcs.naver.net/wcslog.js"></script> 
<script type="text/javascript"> 
    var _nasa={};
    if(window.wcs) _nasa["cnv"] = wcs.cnv("4","10"); 
</script> 
<script type="text/javascript"> 
    if (!wcs_add) var wcs_add={};
    wcs_add["wa"] = "s_31434e58cf28";
    if (!_nasa) var _nasa={};
    if(window.wcs){
        wcs.inflow("gabot.co.kr");
        wcs_do(_nasa);
    }
</script>
{% endblock %}